@font-face {
    font-family: 'Dinot';
    src: url("../font/DINOT-Regular.woff2") format("woff2")
}

@font-face {
    font-family: 'Dinot-Bold';
    src: url("../font/DINOT-Bold.woff2") format("woff2")
}

#app {
    font-family: 'Dinot'!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #392d1c;
    margin-top:50px;
}

/**, body {
    max-height: 1600px !important;
}*/

.container {
    max-width:1920px!important;
}

.shadow-bg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}

.material-icons.md-48 { 
    font-size: 48px;
}

/* modal */
.modal {
    padding-top: 45vh;
}

.modal-content {
    width: 70vw !important;
}

.modal-dialog {
    max-width: 70vw !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-header {
    font-size: 40px;
}

.modal-dialog button {
    width: 80px !important;
    height: 60px !important;
}
